.fill {
	display: flex;
	flex-flow: column nowrap;
}

.fill .grow {
	max-height: 90%;
    display: flex;
    flex: 1 0 100px;
}

.htmlmarker {
    display: flex;
    justify-content: center;
	flex-flow: row nowrap;
}

/* .leaflet-popup.expanded .leaflet-popup-content {
    width: 500px !important;
} */
.leaflet-popup .leaflet-popup-content {
    width: auto !important;
    min-width: 200px;
} 

.leaflet-popup.expanded .leaflet-popup-tip-container {
    left: 100px !important;
}

.htmlmarker>* {
    display: flex;
}

.condensed {
	font-family: Roboto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.condensed>* {
    display: flex;
}

.detailed {
    display: none;
}

.frog {
    align-self: center;
    width: 75px;
	height: auto;
	margin-right: 5px;
	margin-left: 0;
    object-fit: contain;
}

.leaflet-popup-content {
    margin: 3px 5px;
}

.leaflet-popup-content-wrapper {
    transition: height 0.5s ease-in, width 0.5s ease-in;
}

.img-container{
	background-image: url("../assets/travel.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
}

.btn{
	background-color: transparent;
	border: 2px solid white;
	min-width: 50%;
	padding: 10px;
	height: auto;
}

.btn a{
	color: white;
	background-color: transparent;
	font-size: 1.2em;
}

.btn a:hover{
	background-color: transparent;
}

.white-box{
	background: rgba(255, 255, 255, 0.6);
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

.logo{
	height: 50px;
	width: auto;
	margin-top: 10px;
}