.fill {
	display: flex;
	flex-flow: column nowrap;
}

.fill .grow {
	/* max-height: 90%; */
    display: flex;
    flex: 1 0 100px;
}

.htmlmarker {
    display: flex;
    justify-content: center;
	flex-flow: row nowrap;
}

.htmlmarker>div {
    width: 100%;
    height: 100%;
}

.official-weather {
    object-fit: contain;
    width: 40px;
    height: 40px;
}

.bottle-outer {
    position: relative;
    height: 100%;
    display: block;
    width: 100%;
    background-color: #c5ecfe;
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0;
    overflow: hidden;
}

.vfill {
    height: 100%;
    justify-content: center;
    position: relative;
}

.bottle-outer.wind {
    height: 40px;
    width: 80%;
    margin: 0 auto;
}

.bottle-outer.temp {
    height: 40px;
    width: 80%;
    margin: 0 auto;
    background-color: #FAEDAE;
}

.bottle-inner {
    position: absolute;
    background-color: inherit;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #03a9f4;
    transition: height 0.3s linear;
}

.bottle-outer.temp .bottle-inner {
    background-color: #F9A258;
}

.leaflet-popup {
    opacity: 0.8 !important;
}

.leaflet-popup.expanded, .leaflet-popup:hover {
    opacity: 1 !important;
}

.leaflet-popup.gone {
    opacity: 0 !important;
    pointer-events: none;
}

.leaflet-popup .leaflet-popup-content {
    width: 110px !important;
    height: 50px;
} 
.leaflet-popup.expanded .leaflet-popup-content {
    width: 350px !important;
    height: auto;
} 

.leaflet-popup.expanded .leaflet-popup-tip-container {
    left: 62px !important;
}

.space-after {
    margin-right: 5px;
}

table.equal td, th {
    width: 18.66%;
}

table.equal tbody tr {
    height: 50px;
}

table.tight td, th {
    padding: 5px 5px;
}

.htmlmarker>* {
    display: flex;
}

.condensed {
	font-family: Roboto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.condensed>* {
    display: flex;
}

.temperature, .price {
    font-weight: bolder;
    font-size: 110%;
}

.detail-price {
    font-size: 130%;
	margin-right: 15px;
	width: 100%;
}

.skyscanner{
	margin-top: 5px;
}

.leaflet-popup.expanded .detailed {
    display: flex;
}

.detailed {
    display: none;
    flex-flow: column nowrap;
}

.detailed>div {
    display: flex;
    
}

.toprow {
    display: flex;
    flex-flow: row nowrap;
}

.toprow>* {
    display: flex;
}

.frog {
    align-self: center;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.frog.big {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.toprowdetails {
    display: flex;
    flex-flow: column nowrap;
}

.toprowdetails>* {
    display: flex;
}

.recommendation {
    margin: 5px 0;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.toprowdetails>div {
    margin-left: 5px;
}

.skyscanner {
    display: flex;
    flex-flow: row nowrap;
    /* flex: 1 0 auto; */
    /* justify-content: center; */
}

.skyscanner>*{
    display: flex;
    align-self: center;
}

.skyscanner .btn{
	width: 100%;
	text-align: center;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.leaflet-popup-content {
    margin: 3px 5px;
}

.leaflet-popup-content-wrapper {
    transition: height 0.5s ease-in, width 0.5s ease-in;
}

.img-container{
	background-image: url("../assets/travel.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 90%; */
}

.btn.getaway {
	background-color: transparent;
	border: 2px solid white;
	min-width: 50%;
	padding: 10px;
	height: auto;
}

.btn.getaway a{
	color: white;
	background-color: transparent;
	font-size: 1.2em;
}

.btn.getaway a:hover{
	background-color: transparent;
}

.white-box{
	background: rgba(255, 255, 255, 0.6);
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

#fixthis {
    vertical-align: text-bottom;
}

.logo{
	height: 50px;
	width: auto;
	margin-top: 10px;
}