.fill {
    display: flex;
    flex-flow: column nowrap;
}

.fill .grow {
    display: flex;
    flex: 1 0 100px;
}

.htmlmarker {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.leaflet-popup .leaflet-popup-content {
    width: 80px !important;
    height: 50px;
} 
.leaflet-popup.expanded .leaflet-popup-content {
    width: 350px !important;
    height: 257px;
} 

.leaflet-popup.expanded .leaflet-popup-tip-container {
    left: 47px !important;
}

.space-after {
    margin-right: 5px;
}

table.equal td, th {
    width: 18.66%;
}

table.equal tbody tr {
    height: 50px;
}

table.tight td, th {
    padding: 5px 5px;
}

.htmlmarker>* {
    display: flex;
}

.condensed {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.condensed>* {
    display: flex;
}

.temperature, .price {
    font-weight: bolder;
    font-size: 110%;
}

.leaflet-popup.expanded .detailed {
    display: flex;
}

.detailed {
    display: none;
    flex-flow: column nowrap;
}

.detailed>div {
    display: flex;
    
}

.toprow {
    display: flex;
    flex-flow: row nowrap;
}

.toprow>* {
    display: flex;
}

.frog {
    align-self: center;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.frog.big {
    width: 80px;
    height: 80px;
}

.toprowdetails {
    display: flex;
    flex-flow: column nowrap;
}

.toprowdetails>* {
    display: flex;
}

.recommendation {
    margin: 5px 0;
}

.toprowdetails>div {
    margin-left: 5px;
}

.skyscanner {
    display: flex;
    flex-flow: row nowrap;
    /* flex: 1 0 auto; */
    /* justify-content: center; */
}

.skyscanner>*{
    display: flex;
    align-self: center;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.leaflet-popup-content {
    margin: 3px 5px;
}

.leaflet-popup-content-wrapper {
    transition: height 0.5s ease-in, width 0.5s ease-in;
}

.img-container{
	background-image: url("../assets/travel.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
}

.btn{
	background-color: transparent;
	border: 2px solid white;
	min-width: 50%;
	padding: 10px;
	height: auto;
}

.btn a{
	color: white;
	background-color: transparent;
	font-size: 1.2em;
}

.btn a:hover{
	background-color: transparent;
}

.white-box{
	background: rgba(255, 255, 255, 0.6);
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

#fixthis {
    vertical-align: text-bottom;
}

.logo{
	height: 50px;
	width: auto;
	margin-top: 10px;
}